<%= render 'dashboard/partials_shared/sidebar' %>

<div class="main-content">

  <%= render 'dashboard/partials_shared/navbar' %>

  <%= render 'dashboard/partials_shared/header', locals: {
      description: @description = 'Aqui você poderá editar as informações do seu perfil, tanto como e-mail e/ou senha.',
      title: @title = 'Perfil do Usuário',
      css_class: @css_class = 'col-lg-7',
      action: @action = dashboard_user_update_url
  } %>

  <%= render 'dashboard/users/form_edit', locals: {
      action: @action = '',
      button_name: @button_name = I18n.t('dashboard.common.buttons.save')
  } %>

  <%= render 'dashboard/partials_shared/footer' %>

</div>