<div class="header dashboard-bg-gradient-primary pb-8 pt-5 pt-md-7">

  <%= render 'layouts/messages' %>

  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-4 col-lg-4 col-4">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0"><%= I18n.t('dashboard.home.fields.followers') %></h5>
                  <span class="h2 font-weight-bold mb-0">
                    <%= quantity_followers %>
                  </span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-user-plus"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-nowrap"><%= I18n.t('dashboard.home.fields.total') %></span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-4">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0"><%= I18n.t('dashboard.home.fields.sponsorings') %></h5>
                  <span class="h2 font-weight-bold mb-0">
                    <%= quantity_sponsoring %>
                  </span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                    <i class="fas fa-users"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-nowrap"><%= I18n.t('dashboard.home.fields.total') %></span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-4">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0"><%= I18n.t('dashboard.home.fields.goal') %></h5>
                  <span class="h2 font-weight-bold mb-0">
                     <%= format_currency_br(current_user[:current_goal]) %>
                  </span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-success text-white rounded-circle shadow">
                    <i class="fas fa-money-bill-wave"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-nowrap"><%= I18n.t('dashboard.home.fields.goal_of') %></span>
                <span class="text-success mr-2">
                  <%= load_first_goal %>
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'resume_musics' %>