<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0 text-uppercase text-muted">
          <h3 class="mb-0"><%= I18n.t('dashboard.music.titles.recent_musics') %></h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col" class="pl-6"><%= I18n.t('dashboard.music.fields.music_name') %></th>
                <th scope="col"><%= I18n.t('dashboard.music.fields.status') %></th>
                <th scope="col" class="text-center"><%= I18n.t('dashboard.music.fields.listeners') %></th>
                <th scope="col" class="text-right pr-4"><%= I18n.t('dashboard.music.fields.edit') %></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">
                  <div class="media align-items-center">
                    <span class="badge badge-dot mx-3">
                      <i class="fas fa-music"></i>
                    </span>
                    <div class="media-body">
                      <span class="mb-0 text-sm">Same Old War</span>
                    </div>
                  </div>
                </th>
                <td>
                  <span class="badge badge-dot mr-4">
                    <i class="bg-warning text-sm"></i> Pendente
                  </span>
                </td>
                <td>
                  <div class="media align-items-center">
                    <div class="media-body text-center">
                      <span class="mb-0 text-sm">14</span>
                    </div>
                  </div>
                </td>
                <td class="text-right">
                  <div class="dropdown">
                    <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                      <a class="dropdown-item" href="#"><%= I18n.t('dashboard.music.buttons.edit') %></a>
                      <a class="dropdown-item" href="#"><%= I18n.t('dashboard.music.buttons.exclude') %></a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="container mt--10 pb-5"></div>
      </div>
    </div>
  </div>
</div>